<div class="container">
    <h2>About The Organizer</h2><br>
    <p>Organs for Flogfest were proudly donated by my friend Tom. Tom is also the organizer of Flogfest and he is a bit of a strange dude with a staring issue. Please keep small animals and children away from Tom. Flogfest is not responsible for the loss of teeth or dentures.</p>
</div>
