@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Flogfest!</h1>
    <p>Flogfest is a celebration of the cultural phenominom of flogging.</p>
</div>
    
<p>Flogging Molly is an Irish-American seven-piece Celtic punk band formed in Los Angeles in 1995. Flogfest is not for them. Flogfest is an annual gathering of Flog makers and Flog tasters to statisfy even the Floggiest flavor.</p>

<div>
    <h2>Featuring:</h2><br>
        <ul>
        <li>Medieval Flogging</li>
        <li>Primate Flogging</li>
        <li>Space Folgers</li>
        </ul>
</div>

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Register">Register for Flogfest</a>
</div>
